webservices/.settings
webservices/target
webservices/.classpath
webservices/.project
webservices-cliente/.settings
webservices-cliente/target
webservices-cliente/.classpath
webservices-cliente/.project